.query-description {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
}
.query-title {
  width: 400px;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
}
.createquery-container > form > b {
  color: rgb(80, 3, 80);
  margin-right: 500px;
  margin-top: 10px;
}
.createquery-container > form > h3 {
  opacity: 0.5;
  margin-right: 250px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.createquery-container > h4 {
  opacity: 0.5;
  margin-right: 300px;
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.Header {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  align-items: center;
}
.Header > h3 {
  /* display: flex; */
  /* justify-content: start; */

  padding: 10px;
  font-size: 35px;
}
.Header > i {
  margin-left: 1160px;
  font-size: 30px;
  cursor: pointer;
}

.Query-button {
  margin: 20px;
  margin-left: 600px;
  font-size: 30px;
}
#back {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}

.query-card {
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  height: 120px;
  width: 850px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-left: 10px;
}
.query-card > section > b {
  font-size: 20px;
  opacity: 0.8;
  color: rgb(117, 131, 117);
  margin: 0;
}
.query-card > section {
  /* opacity: 0.6; */
  font-size: 30px;
  color: rgb(49, 105, 68);
  margin: 0;
}
.query-close > b {
  font-size: 15px;
  opacity: 0.5;
}
.query-close > button {
  display: inline-block;
  background-color: #bdecc9;
  padding: 10px;
  width: 80px;
  color: #05631c;
  border: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.query-recent {
  position: sticky;
  position: relative;
  left: 950px;
  bottom: 650px;
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 70vh;
  padding: 10px;
}
#query-recent > section > button {
  display: inline-block;
  background-color: #bdecc9;
  padding: 10px;
  width: 100px;
  color: #05631c;
  border: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.query-recent > section {
  display: flex;
  justify-content: space-between;
}
#query-recent > button {
  display: inline-block;
  background-color: #5718af;
  padding: 20px;
  width: 150px;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
#query-recent > button:active {
  background-color: #30056b;
  /* transition: 3s; */
}
.query-cards {
  border: solid black 2px;
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  height: 450px;
  width: 550px;
  text-align: left;
  padding: 20px;
  margin-left: 450px;
  margin-top: 20px;
}
.query-cards > h4 {
  background-color: #bdecc9;
  padding: 10px;
  width: 100px;
  color: #8bb3ce;
  border: #ffffff;
  border-radius: 5px;
}
