.header-container {
  display: flex;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 2000;
  height: 30px;
  background-color: green;
}
.title {
  display: flex;
  flex: 0.5;
  align-items: center;
}
.main-content {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
  align-items: center;
}
h3 {
  margin: 0;
}
.main {
  padding: 50px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.main:hover {
  background-color: rgb(103, 163, 103);
  cursor: pointer;
}
